# IDEA
*.iml
/.idea

# Android
/gradle.properties
**/local.properties
/captures
*.hprof

# Firebase
**/google-services.json
**/*.log

# Gradle
.gradle
build
/reports

# JavaScript files
node_modules/
**/*.js
**/*.js.map

# Linux
*~

# MAC
*.DS_Store

# Node.js dependency directory
node_modules/
