swagger: "2.0"
info:
  title: "playground-api Playground Service"
  description: "Playground Service definition hosted by Cloud Endpoints with a Cloud Run backend"
  version: "1.0.0"
host: "api.ashdavies.dev"
schemes:
  - "https"
consumes:
  - "application/json"
produces:
  - "application/json"
paths:
  /.well-known/assetlinks.json:
    get:
      tags: [ "static" ]
      summary: "Returns AssetLinks protocol file"
      operationId: "getAssetLinks"
      responses:
        "200":
          description: "OK"
      security: []
  /events/upcoming:
    get:
      tags: [ "events" ]
      summary: "Return upcoming events by start date"
      operationId: "getUpcomingEvents"
      parameters:
        - name: "startAt"
          in: "query"
          type: "string"
          format: "date"
          description: "The start date to start this query at."
        - name: "limit"
          in: "query"
          type: "integer"
          format: "int32"
          description: "The maximum number of items to return."
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Event"
      security:
        - ApiKeyAuth: []
  /events:aggregate:
    post:
      tags: [ "events" ]
      summary: "Aggregate events from data sources"
      operationId: "aggregateEvents"
      responses:
        "200":
          description: "OK"
      security:
        - ApiKeyAuth: []
  /hello:
    get:
      tags: [ "hello" ]
      summary: "Greet the user"
      operationId: "helloWorld"
      responses:
        "200":
          description: "OK"
definitions:
  Event:
    type: "object"
    required:
      - "id"
      - "name"
      - "website"
      - "location"
      - "dateStart"
      - "dateEnd"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      website:
        type: "string"
      location:
        type: "string"
      imageUrl:
        type: "string"
      status:
        type: "string"
      online:
        type: "boolean"
      dateStart:
        type: "string"
        format: "date"
      dateEnd:
        type: "string"
        format: "date"
      cfp:
        type: "object"
        properties:
          start:
            type: "string"
            format: "date"
          end:
            type: "string"
            format: "date"
          site:
            type: "string"
securityDefinitions:
  ApiKeyAuth:
    type: "apiKey"
    name: "X-API-Key"
    in: "header"
security:
  - ApiKeyAuth: []
x-google-backend:
  address: "${backend_service_name}"
x-google-endpoints:
  - name: "api.ashdavies.dev"
