<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@style/Theme.SplashScreen"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name="io.ashdavies.playground.LauncherActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:label="Playground"
            android:theme="@style/Theme.Material3.DynamicColors.DayNight">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>
</manifest>
