<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ashdavies.playground">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".playground.PlaygroundApplication"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity
            android:name="io.ashdavies.playground.playground.PlaygroundActivity"
            android:exported="true"
            android:label="@string/application">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>
</manifest>
