name: Android Release

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

    secrets:
      WORKLOAD_IDENTITY_PROVIDER:
        required: true
      GOOGLE_SERVICE_ACCOUNT_ID:
        required: true
      FIREBASE_GOOGLE_SERVICES:
        required: true
      RELEASE_KEYSTORE_FILE:
        required: true
      RELEASE_KEYSTORE_PROPERTIES:
        required: true
      ANDROID_API_KEY:
        required: true
      BROWSER_API_KEY:
        required: true
      FASTLANE_SERVICE_ACCOUNT_KEY:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - uses: gradle/actions/setup-gradle@v5

      - uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_ID }}

      - run: |
          echo ${{ secrets.FIREBASE_GOOGLE_SERVICES }} | base64 --decode > conference-app/google-services.json
          echo ${{ secrets.RELEASE_KEYSTORE_FILE }} | base64 --decode > keystore.jks
          echo ${{ secrets.RELEASE_KEYSTORE_PROPERTIES }} | base64 --decode > keystore.properties

      - run: echo "VERSION_CODE=$((GITHUB_RUN_NUMBER * 2 + 1000))" >> $GITHUB_ENV

      - run: |
          ./gradlew :conference-app:assemble :conference-app:bundle \
            -PversionCode=${{ steps.version-code.outputs.VERSION_CODE }} \
            -PversionName=${{ inputs.version }} \
            --console=plain
        env:
          ANDROID_API_KEY: ${{ secrets.ANDROID_API_KEY }}
          BROWSER_API_KEY: ${{ secrets.BROWSER_API_KEY }}

      - uses: actions/upload-artifact@v5
        with:
          name: conference-app-build-outputs
          path: conference-app/build/outputs
          if-no-files-found: error
