name: Run Integration Tests

on:
  schedule:
    - cron: "0 8 * * *"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Run Integration Tests
    runs-on: ubuntu-latest

    permissions:
      id-token: 'write'

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_ID }}

      - uses: gradle/actions/setup-gradle@v5

      - name: Run Gradle Tasks
        env:
          FIREBASE_ANDROID_APP_ID: ${{ secrets.FIREBASE_ANDROID_APP_ID }}
          GOOGLE_SERVICE_ACCOUNT_ID: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_ID }}
          INTEGRATION_API_KEY: ${{ secrets.integration_api_key }}
        run: ./gradlew cloud-run:integrationTest --console=plain

      - uses: test-summary/action@v2
        with:
          paths: "**/build/test-results/integrationTest/TEST-*.xml"
        if: ${{ always() }}

      - uses: actions/upload-artifact@v7
        if: failure()
        with:
          name: test-results
          path: "**/build/reports/tests/integrationTest"
