name: Publish Release

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  android:
    uses: ./.github/workflows/android-release.yml
    with:
      version: ${{ github.event.inputs.version }}
    secrets:
      WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
      GOOGLE_SERVICE_ACCOUNT_ID: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_ID }}
      FIREBASE_GOOGLE_SERVICES: ${{ secrets.FIREBASE_GOOGLE_SERVICES }}
      RELEASE_KEYSTORE_FILE: ${{ secrets.RELEASE_KEYSTORE_FILE }}
      RELEASE_KEYSTORE_PROPERTIES: ${{ secrets.RELEASE_KEYSTORE_PROPERTIES }}
      ANDROID_API_KEY: ${{ secrets.ANDROID_API_KEY }}
      BROWSER_API_KEY: ${{ secrets.BROWSER_API_KEY }}
      FASTLANE_SERVICE_ACCOUNT_KEY: ${{ secrets.FASTLANE_SERVICE_ACCOUNT_KEY }}

  github:
    needs: [ android ]
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v6
        with:
          name: conference-app-build-outputs
          path: conference-app/build/outputs

      - id: app-token
        uses: ./.github/actions/github-token
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_PRIVATE_KEY }}

      - run: |
          fastlane android github \
            repository_name:${{ github.repository }}
            api_token:${{ steps.app-token.outputs.token }}
            version:v${{ github.event.inputs.version }}
            commitish:${{ github.sha }}

  play:
    needs: [android]
    runs-on: ubuntu-latest
    if: false

    steps:
      - run: echo ${{ secrets.FASTLANE_SERVICE_ACCOUNT_KEY }} | base64 --decode > conference-app/src/androidMain/play-store-key.json

      - run: |
          fastlane android play
