name: Pull Request

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: 'write'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v6

      - uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_ID }}

      - uses: gradle/actions/setup-gradle@v5

      - run: echo ${{ secrets.FIREBASE_GOOGLE_SERVICES }} | base64 --decode > conference-app/google-services.json

      - id: gradle-build
        run: |
          ./gradlew build \
            ${{ contains(github.event.pull_request.labels.*.name, 'Dry Run') && '--dry-run' || '' }} \
            --console=plain \
            --continue

      - uses: thollander/actions-comment-pull-request@v3
        if: ${{ steps.gradle-build.outputs.build-scan-url }}
        with:
          message: "Build scan published to ${{ steps.gradle-build.outputs.build-scan-url }}"
          comment-tag: build-scan-url
          mode: recreate

      - uses: test-summary/action@v2
        if: always()
        with:
          paths: "**/build/test-results/*Test/TEST-*.xml"

      - uses: actions/upload-artifact@v7
        if: ${{ failure() && steps.gradle-build.outcome == 'failure' }}
        with:
          name: test-results
          path: "**/build/reports/tests/allTests"
