name: Self-Hosted Renovate

on:
  schedule:
    - cron: "0 6 * * *"

  workflow_dispatch:
    inputs:
      monitor_permissions:
        type: boolean
        description: Monitor Permissions
        required: false
        default: false

jobs:
  renovate:
    name: Self-Hosted
    runs-on: ubuntu-latest

    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
        if: ${{ github.event.inputs.monitor_permissions == 'true' }}

      - uses: actions/checkout@v3.5.2

      - id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          private_key: ${{ secrets.PRIVATE_KEY }}
          app_id: ${{ secrets.APP_ID }}

      - uses: renovatebot/github-action@v39.1.1
        with:
          configurationFile: .github/renovate.json
          token: ${{ steps.generate_token.outputs.token }}
