name: Self-Hosted Renovate

on:
  schedule:
    - cron: "0 */12 * * *"

  workflow_dispatch:

jobs:
  renovate:
    name: Self-Hosted
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2

      - id: app-token
        uses: ./.github/actions/github-token
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_PRIVATE_KEY }}

      - uses: renovatebot/github-action@v46.0.1
        with:
          token: ${{ steps.app-token.outputs.token }}
          configurationFile: renovate.json
