name: Record Screenshots

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  recordScreenshots:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
        with:
          lfs: 'true'

      - uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_ID }}

      - uses: gradle/actions/setup-gradle@v5

      - run: echo ${{ secrets.FIREBASE_GOOGLE_SERVICES }} | base64 --decode > conference-app/google-services.json

      - run: ./gradlew recordPaparazziDebug --console=plain

      - env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          ./scripts/github_pull_request.sh \
            --base-branch "${{ github.head_ref || github.ref_name }}" \
            --commit-msg "chore: record screenshots"
