name: Terraform

on:
  pull_request:
    branches:
      - "*"

  push:
    branches:
      - main

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Google Cloud
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: "-Dorg.gradle.logging.level=${{ github.event.inputs.log_level || 'info' }}"

    permissions:
      pull-requests: 'write'
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - uses: 1password/install-cli-action@v2

      - id: google-cloud-auth
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_ID }}
          token_format: access_token

      - uses: gradle/actions/setup-gradle@v5
        if: github.ref == 'refs/heads/main'

      - if: github.ref == 'refs/heads/main'
        run: |
          ./gradlew cloud-run:deploy \
            -Pimage=europe-west1-docker.pkg.dev/${{ steps.google-cloud-auth.outputs.project_id }}/cloud-run-source-deploy/api.ashdavies.dev \
            --no-configuration-cache \
            --console=plain

      - id: app-token
        uses: ./.github/actions/github-token
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_PRIVATE_KEY }}

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.4

      - uses: terraform-linters/setup-tflint@v6
        if: github.event_name == 'pull_request'
        with:
          tflint_version: v0.52.0

      - run: tflint --init --chdir=terraform
        if: github.event_name == 'pull_request'
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - run: tflint --chdir=terraform --format=compact --minimum-failure-severity=warning
        if: github.event_name == 'pull_request'

      - run: terraform -chdir=terraform init

      - id: terraform-plan
        if: github.event_name == 'pull_request'
        env:
          TF_VAR_op_service_account_token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          TF_VAR_gh_token: ${{ steps.app-token.outputs.token }}
          TF_LOG: ${{ inputs.debug && 'DEBUG' || 'ERROR' }}
          TF_INPUT: false
        run: |
          terraform -chdir=terraform plan >/dev/null -lock-timeout=5m -out=.terraform/terraform.tfplan
          terraform -chdir=terraform show .terraform/terraform.tfplan -no-color

      - uses: thollander/actions-comment-pull-request@v3
        if: github.event_name == 'pull_request' && steps.terraform-plan.outputs.stdout != ''
        with:
          message: "```${{ steps.terraform-plan.outputs.stdout }}```"
          comment-tag: terraform-plan
          mode: recreate

      - if: github.ref == 'refs/heads/main'
        env:
          TF_VAR_op_service_account_token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          TF_VAR_gh_token: ${{ steps.app-token.outputs.token }}
          TF_LOG: ${{ inputs.debug && 'DEBUG' || 'ERROR' }}
          TF_INPUT: false
        run: terraform -chdir=terraform apply -auto-approve -lock-timeout=5m
